<mat-card>
  <mat-card-title>
    <div>{{ course.name }}</div>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="addSubject(course)">
        <mat-icon>add</mat-icon>
        <span>Dodaj temat</span>
      </button>
      <button mat-menu-item (click)="deleteCourse(course)">
        <mat-icon>delete</mat-icon>
        <span>Usuń</span>
      </button>
    </mat-menu>
  </mat-card-title>
  <mat-card-content>
    <p class="description">{{ getDescription(course) }}</p>
    <div *ngIf="shouldShowMore" class="subjects">
      <h3>Tematy</h3>
      <div
        *ngIf="course.subjects && course.subjects.length > 0; else noSubjects"
      >
        <div *ngFor="let subject of getSortedSubjects(course)">
          <div>{{ subject.number }}. {{ subject.name }}</div>
          <div></div>
        </div>
      </div>
      <ng-template #noSubjects>
        <span>Brak tematów</span>
      </ng-template>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      *ngIf="!shouldShowMore; else showLess"
      mat-button
      color="primary"
      (click)="showMore(true)"
    >
      Zobacz więcej
    </button>
    <ng-template #showLess>
      <button mat-button color="primary" (click)="showMore(false)">Zwiń</button>
    </ng-template>
  </mat-card-actions>
</mat-card>
