<mat-card>
  <mat-card-title>
    <div>{{ course.name }}</div>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editCourse()">
        <mat-icon>edit</mat-icon>
        <span>Edytuj kurs</span>
      </button>
      <button mat-menu-item (click)="addSubject()">
        <mat-icon>add</mat-icon>
        <span>Dodaj temat</span>
      </button>
      <button
        mat-menu-item
        (click)="changeSubjectsOrder()"
        [disabled]="!canChangeOrder"
      >
        <mat-icon>low_priority</mat-icon>
        <span>Zmień kolejność tematów</span>
      </button>
      <button mat-menu-item (click)="deleteCourse()">
        <mat-icon>delete</mat-icon>
        <span>Usuń</span>
      </button>
    </mat-menu>
  </mat-card-title>
  <mat-card-content>
    <p class="description">{{ getDescription(course) }}</p>
    <div *ngIf="shouldShowMore" class="subjects">
      <h3>Tematy</h3>
      <div
        *ngIf="course.subjects && course.subjects.length > 0; else noSubjects"
      >
        <div *ngFor="let subject of getSortedSubjects(course)" class="subject">
          <div>{{ subject.number }}. {{ subject.name }}</div>
          <div class="subject__actions">
            <button
              mat-icon-button
              color="primary"
              (click)="editSubject(subject)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="deleteSubject(subject)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <ng-template #noSubjects>
        <span>Brak tematów</span>
      </ng-template>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      *ngIf="!shouldShowMore; else showLess"
      mat-button
      color="primary"
      (click)="showMore(true)"
    >
      Zobacz więcej
    </button>
    <ng-template #showLess>
      <button mat-button color="primary" (click)="showMore(false)">Zwiń</button>
    </ng-template>
  </mat-card-actions>
</mat-card>
